@page
@model AddRoleModel
@{
    ViewData["Title"] = "Neue Rolle hinzufügen";
}


<div class="col-sm-12 col-md-12 col-lg-8 col-xl-6 col-xxl-6">
    <h3>@ViewData["Title"]</h3>
    <hr />
    <form method="post">
        <div class="form-floating mb-4">
            <input asp-for="RoleName" class="form-control" autocomplete="on" aria-required="true" />
            <label asp-for="RoleName"></label>
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
        <button type="submit" class="w-25 btn btn-lg btn-primary" asp-page-handler="Add">OK</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}