@page

@using Ticketsystem.Enums
@using Ticketsystem.Data

@model ChangeUserRoleModel

@{
    ViewData["ActivePage"] = ManageNavPages.ChangeUserRole;
}
@{
    @inject UserManager<User> userManager;
    @inject IServiceFactory serviceFactory;
    var loggedInUser = await userManager.GetUserAsync(User);
    if (!await serviceFactory.GetRolePermissionsService().HasPermission(loggedInUser, RolePermissions.ChangeUserRole))
    {
        Response.Redirect("PermissionError");
        return;
    }
}

<div class="col-sm-12 col-md-12 col-lg-8 col-xl-6 col-xxl-6">
    <h3>
        <span>Rolle von Benutzer</span>
        <span style="font-weight: bold;"> @Model.UserToEdit.UserName</span>
        <span> ändern</span>
    </h3>
    <hr />
    <form method="post">
        @Html.AntiForgeryToken()
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Rolle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model.RolesToDisplay)
                {
                    <tr class="align-middle">
                        <td style="width:50px;">
                            <input type="radio" asp-for="Role" value="@role" ) />
                        </td>
                        <td>
                            @role
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" name="userToEdit" value="@Model.UserToEdit.Id" />
        <button type="submit" class="btn btn-info" asp-page-handler="ChangeUserRole">
            Speichern
        </button>
    </form>
</div>