@page
@model ConfirmUserDeletionModel
@{
    ViewData["ActivePage"] = ManageNavPages.ConfirmUserDeletion;
}

@{
    @inject UserManager<User> userManager;
    @inject IServiceFactory serviceFactory;
    var loggedInUser = await userManager.GetUserAsync(User);
    if (!await serviceFactory.GetRolePermissionsService().HasPermission(loggedInUser, RolePermissions.DeleteUsers))
    {
        Response.Redirect("PermissionError");
        return;
    }
}

<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
    <h3>
        <span>Wollen Sie den Benutzer</span>
        <span style="font-weight: bold;"> @Model.UserToDelete.UserName</span>
        <span> wirklich löschen?</span>
    </h3>
    <hr />
    <form method="post">
        @Html.AntiForgeryToken()
        <span class="me-4">
            <button type="submit" class="btn btn-info" asp-page-handler="Confirm" asp-route-userId="@Model.UserToDelete.Id">
                Ja
            </button>
        </span>
        <span>
            <button type="submit" class="btn btn-info" asp-page-handler="Cancel">
                Nein
            </button>
        </span>
    </form>
</div>