@page
@using Microsoft.EntityFrameworkCore;
@model ConfirmUserDeletionModel
@inject UserManager<TicketsystemUser> userManager
@inject RoleManager<EnhancedIdentityRole> roleManager

@{
    var user = await userManager.GetUserAsync(User);
    var roles = await userManager.GetRolesAsync(user);
    var permissions = new List<string>();
    if (roles.Any())
    {
        var role = await roleManager.Roles.Include(r => r.Permissions)
            .FirstOrDefaultAsync(r => r.Name == roles.First());
        if (role != null)
        {
            permissions.AddRange(role.Permissions.Select(p => p.Name));
        }
    }
    bool hasDeleteUsersPermission = permissions.Contains(PermissionsEnum.DeleteUsers.ToString());

}
@{
    ViewData["Title"] = "Delete user ";
    ViewData["ActivePage"] = ManageNavPages.ConfirmUserDeletion;
}

<h3>
    <span>Are you sure you want to delete the user</span>
    <span style="font-weight: bold;"> @Model.UserToDelete.UserName?</span>
</h3>

<form method="post">
    @Html.AntiForgeryToken()
    <span class="me-4">
        <button type="submit" class="btn btn-info" asp-page-handler="Confirm" asp-route-userId="@Model.UserToDelete.Id">
            Yes
        </button>
    </span>
    <span>
        <button type="submit" class="btn btn-info" asp-page-handler="Cancel">
            No
        </button>
    </span>
</form>
