@page
@model EmailModel
@{
    ViewData["Title"] = "Email-Adresse ändern";
    ViewData["ActivePage"] = ManageNavPages.Email;

    string showDataChanged = "collapse";

    if ((bool)ViewData["DataChanged"])
    {
        showDataChanged = "";
    }
}


@*<partial name="_StatusMessage" for="StatusMessage" />*@
<div class="col-sm-12 col-md-12 col-lg-8 col-xl-6 col-xxl-6">
    <h3>@ViewData["Title"]</h3>
    <hr />
    <form id="email-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

@*        @if (Model.IsEmailConfirmed)
        {
            <div class="form-floating input-group mb-2">
                <input asp-for="Email" class="form-control" disabled />
                <div class="input-group-append">
                    <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                </div>
                <label asp-for="Email" class="form-label"></label>
            </div>
        }
        else
        {
            <div class="form-floating mb-2">
                <input asp-for="Email" class="form-control" disabled />
                <label asp-for="Email" class="form-label"></label>
                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Verifizierungs-Email senden</button>
            </div>
        }*@

        <div class="row mb-2">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" disabled />
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group">
                <label asp-for="Input.NewEmail" class="control-label"></label>
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
        </div>

        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Ändern</button>
        <span class="text-info @showDataChanged" id="info-data-changed">E-Mail-Adresse geändert!</span>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
