@model Ticketsystem.Models.Ticket

<h5>Kundendaten:</h5>
<div class="row mb-1">
    <div class="form-group">
        <label asp-for="Client.LastName" class="control-label">Name</label>
        <input asp-for="Client.LastName" class="form-control lastname" />
        @*<span asp-validation-for="Id" class="text-danger"></span>*@
    </div>
</div>
<div class="row mb-1">
    <div class="form-group">
        <label asp-for="Client.FirstName" class="control-label">Vorname</label>
        <input asp-for="Client.FirstName" class="form-control firstname" />
        @*<span asp-validation-for="Id" class="text-danger"></span>*@
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Client.RehaNumber" class="control-label">Reha Nummer</label>
            <input asp-for="Client.RehaNumber" class="form-control rehanumber" />
            @*<span asp-validation-for="Id" class="text-danger"></span>*@
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Client.Course" class="control-label">Kurs Nummer</label>
            <input asp-for="Client.Course" class="form-control coursenumber" />
            @*<span asp-validation-for="Id" class="text-danger"></span>*@
        </div>
    </div>
</div>
<div class="row mb-1">
    <div class="form-group">
        <label asp-for="Client.StreetAndHouseNumber" class="control-label">Straße und Hausnummer</label>
        <input asp-for="Client.StreetAndHouseNumber" class="form-control street" />
        @*<span asp-validation-for="Id" class="text-danger"></span>*@
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Client.PostalCode" class="control-label">PLZ</label>
            <input asp-for="Client.PostalCode" class="form-control postalcode" />
            @*<span asp-validation-for="Id" class="text-danger"></span>*@
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="Client.City" class="control-label">Wohnort</label>
            <input asp-for="Client.City" class="form-control city" />
            @*<span asp-validation-for="Id" class="text-danger"></span>*@
        </div>
    </div>
</div>
<div class="row mb-1">
    <div class="form-group">
        <label asp-for="Client.Email" class="control-label">E-Mail Adresse</label>
        <input asp-for="Client.Email" class="form-control email" />
        @*<span asp-validation-for="Id" class="text-danger"></span>*@
    </div>
</div>
<div class="row mb-1">
    <div class="form-group">
        <label asp-for="Client.PhoneNumber" class="control-label">Telefonnummer</label>
        <input asp-for="Client.PhoneNumber" class="form-control phonenumber" />
        @*<span asp-validation-for="Id" class="text-danger"></span>*@
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <input type="submit" value="Speichern" class="btn btn-lg btn-primary mt-4" />
        <div>
            <a asp-action="Index">Zurück zur Übersicht</a>
        </div>
    </div>
</div>
