@using Microsoft.AspNetCore.Identity
@using Ticketsystem.Data
@using Ticketsystem.Models;

@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@{
    User loggedInUser = await userManager.GetUserAsync(User);
}

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User) && loggedInUser != null)
    {
        <li class="nav-item">
            <span class="nav-link text-dark fw-bold">Hallo @loggedInUser.FirstName @loggedInUser.LastName</span>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link btn btn-info text-black me-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Einstellungen</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-danger text-black">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
