@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@{
    User loggedInUser = await userManager.GetUserAsync(User);
}

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User) && loggedInUser != null)
    {
        <li class="nav-item text-start">
            <div class="nav-link text-dark fw-bold me-1">@loggedInUser.UserName</div>
        </li>
        <li class="nav-item text-start">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Einstellungen</a>
        </li>
        <li class="nav-item text-start">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
