@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4 mx-auto">
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <h1>Log in</h1>

            <div class="row mb-2">
                <div class="form-group">
                    <label asp-for="Input.LoginName" class="control-label"></label>
                    <input asp-for="Input.LoginName" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Input.LoginName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="form-group">
                    <label asp-for="Input.Password" class="control-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>

            <div>
                <button id="login-submit" type="submit" class="btn btn-lg btn-primary mb-4 col-md-12">Log in</button>
            </div>

            <div>
                <p>Passwort vergessen? Bitte Admin kontaktieren.</p>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
