html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    margin-bottom: 60px;
}

table.table-striped > tbody > tr > td {
    height: 50px !important;
}

.padding-right-2 {
    padding-right: 2px;
}

.padding-right-3 {
    padding-right: 3px;
}

.padding-right-4 {
    padding-right: 4px;
}

input[type="search"]::placeholder,
.select-option-disabled-text {
    color: #6c757d;
}

.select-option-text {
    color: black;
}

.bg-lightyellow {
    background-color: lightyellow !important;
}

.fit {
    white-space: nowrap;
    width: 1%;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.stretch-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 155px);
}

.container-0 {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

/* Set width to 100% for xs screens */
@media (max-width: 767.98px) {
    .tickets-index-column-id {
        width: 70px;
    }
    .tickets-index-column-date {
        width: 130px;
    }
    .tickets-index-column-status {
        width: 100px;
    }
    .index-column-buttons {
        width: 100px;
    }
}

/* Set width to 50% for sm screens */
@media (min-width: 768px) {
    .tickets-index-column-id {
        width: 80px;
    }
    .tickets-index-column-date {
        width: 150px;
    }
    .tickets-index-column-status {
        width: 200px;
    }
    .index-column-buttons {
        width: 120px;
    }
}
